* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.2;
  color: #666;
  background: black;
}

.header img {
  display: block;
  margin: 2rem auto;
  max-width: 45%;
}

.slideshow img {
  max-width: 100%;
  opacity: 0.5;
}

ul {
  margin: 50px;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-left: 30px;
  color: white;
}

a { 
  color: white; 
  text-decoration: none;
}

a:hover, a:active{
  color: #444444;
}


/* -------------------
GRID CSS HERE
-------------------- */
.grid-container {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  grid-template-rows: 0.25fr 2.5fr 3fr 0.5fr;
  grid-template-areas: "header nav nav" "slideshow slideshow slideshow" "content content content" "footer footer footer";
}

.nav { 
  grid-area: nav; 
  text-align: right;
  font-size: 20px;
  background-color: black;
}

.slideshow { 
  grid-area: slideshow; 
  background-color: #444444;
  text-align: center;
  position: relative;
  color: white;
  
}

.content { 
  grid-area: content; 
  background-color: #444444;
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  color: white;
}

.footer { 
  grid-area: footer; 
  background-color: black;
  padding-top: 22px;
  padding-left: 45px;
}

.header { 
  grid-area: header; 
}

/* -------------------
Slideshow
-------------------- */


h1 {
  text-align: center;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.joinbutton {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 150px;
  padding: 15px;
  margin-left: auto;
  outline: None;
  background-color: #be0000;
  border-radius: 30px;
}

/* -------------------
content
-------------------- */

.content-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 75%;
  margin-top: 5%;
  margin-right: 5%;
  margin-left:5%;
  text-align: center;
  border-color: white;
  border-radius: 25px;
  border: 2px;
  background-color: rgba(255,255,255,0.2);

}

.content-column > img {
  width: 50%;
  border-radius: 50%;
  margin-bottom: 45%;
}

.content-column1 > h3 {
  position: absolute;
  top: 60%;
  left: 17%;
  transform: translate(-50%, -50%);
  font-size: 30px;

}

.content-column1 > p {
  position: absolute;
  top: 71%;
  left: 17%;
  transform: translate(-50%, -50%);
}

.content-column2 > h3 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
}

.content-column2 > p {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-column3 > h3 {
  position: absolute;
  top: 60%;
  left: 84%;
  transform: translate(-50%, -50%);
  font-size: 30px;

}

.content-column3 > p {
  position: absolute;
  top: 70%;
  left: 84%;
  transform: translate(-50%, -50%);
}

.why {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, -50%);
}